@page "/addquestion"

<h3>Add questions to your quiz</h3>

<form>
	<label>Question</label><br />
	<input type="text" id="question" /><br />
	<label>Answer</label><br />
	<input type="text" id="answer" />
</form>

@code {

}
