@page "/createquiz"
@using BlazorQuiz.Shared;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject HttpClient Http
@inject IConfiguration config

<h3>CreateQuiz</h3>

<AuthorizeView>
	<Authorized>
		<!-- Här sätter jag värdet på QuizViewModel.title-->
		<form>
			<input @bind="inputTitle" type="text" />
			<input type="button" value="Submit" @onclick=CreateQuizAsync>Create quiz</input>
		</form>
		<p>@titles.PublicId</p>
		<a href="/addquestion/@titles.PublicId">Add questions to quiz.</a>
	</Authorized>
	<NotAuthorized>
		<p>Du måste logga in för att skapa ett quiz.</p>
	</NotAuthorized>
</AuthorizeView>

@code {
	// skapa ett fält
	string? inputTitle;
	private QuizTitleViewModel titles = new QuizTitleViewModel();

	private async Task CreateQuizAsync()
	{
		QuizViewModel newQuiz = new QuizViewModel()
			{
				Title = inputTitle
			};
		var response = await Http.PostAsJsonAsync("api/quiz/post", newQuiz);
		if (response == null)
		{
			Console.WriteLine("Got null response");
			return;
		}
		titles = await response.Content.ReadFromJsonAsync<QuizTitleViewModel>();
		StateHasChanged();
	}
}
