@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject HttpClient Http
@using BlazorQuiz.Shared
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;

<PageTitle>Home</PageTitle>


@{
    var authenticationStateTask = AuthenticationStateProvider.GetAuthenticationStateAsync();
    var user = authenticationStateTask.Result.User;
}

<MudStack>
    <MudPaper Class="pa-3">Item 2</MudPaper>
    <MudPaper Class="pa-3">Item 3</MudPaper>
</MudStack>

@if (user.Identity?.IsAuthenticated ?? false)
{
    <h1>Welcome, @user.Identity.Name</h1>

    <h3>List of your quizzes:</h3>

    for (int i = 0; i < quizzes.Count(); i++)
    {
        var mudindex = i;
        
    }

    
    @foreach (var quiz in quizzes)
    {
            <p>@quiz.Title</p>
    }
} else
{
    <h1>Hello, world!</h1>
}


@code {

    private IEnumerable<QuizViewModel> quizzes = new List<QuizViewModel>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            quizzes = await Http.GetFromJsonAsync<List<QuizViewModel>>("api/quiz/get");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();

        }
    }

}