@page "/playquiz/{publicid}/{questionindex}"

@inject HttpClient Http
@using BlazorQuiz.Server.Models
@using BlazorQuiz.Shared
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;
@using Microsoft.AspNetCore.Components

<h3>You're playing quiz!</h3>

@foreach (var question in quizzes)
{
	<p>@question</p>
}

@code {

	public List<Question> Questions { get; set; } = new List<Question>();
	protected int questionindex = 0;
	protected int score = 0;

	[Parameter]
	public int PublicId { get; set; }

	// private IEnumerable<QuizViewModel> quizzes = new List<QuizViewModel>();

	private IEnumerable<QuestionViewModel> quizzes = new List<QuestionViewModel>();


	protected override async Task OnInitializedAsync()
	{
		try
		{
			quizzes = await Http.GetFromJsonAsync<List<QuestionViewModel>>("playquiz/{publicId}");
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();

		}
	}

	private void LoadQuestions()
	{
		Question questionOne = new Question
			{
				QuestionTitle = "Question One",
				Answer = "Option 1",
				Options = new List<string>() { "Option 1", "Option 2", "option 3" }

			};
		Question questionTwo = new Question
			{
				QuestionTitle = "Question Two",
				Answer = "Option 2",
				Options = new List<string>() { "Option 1", "Option 2" }
			};

	}

}
